.note {
    font-size: 16px;
    text-align: left;
    height: 100%;
    .wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20px 20px;
        >div {
            width: 100%;
            padding-bottom: 10px;
        }
        >div:first-child {
            position: sticky;
            top: 0;
            background-color: var(--bg_color);z-index: 4;
        }
        .radioList {
            // margin-bottom: 10px;
        }

        .input {
            background-color: var(--bg_color);
            z-index: 2;
        }
    }
    span {
        vertical-align: middle;
    }

    .pagination {
        position: sticky;
        bottom: 0;
        margin: 0 auto;
        padding: 10px 0;
        background-color: var(--bg_color);
        text-align: right;
    }

    .add_note {
        opacity: 0.6;
    }
    .edit_note {
        position: fixed;
        right: 2.5rem;
        top: 10.5rem;
        opacity: 0.6;
    }
    .delete_note {
        position: fixed;
        right: 2.5rem;
        top: 13.5rem;
        opacity: 0.6;
        color: #ff4d4f !important;
    }
}

.note_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    > div {
        cursor: pointer;
        &:hover {
            border-color: #40a9ff;
        }
    }
}

.note_item {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    white-space: pre-line;
    text-overflow: ellipsis;
    font-size: 16px;
    overflow: hidden;
    &.active {
        border-color: #40a9ff;
        -webkit-line-clamp: unset;
        max-height: calc(100vh - 300px);
        overflow-y: auto;
        border: unset;
        padding: unset;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .category {
        display: inline-block;
        margin-right: 10px;
        padding: 0 5px;
        color: #40a9ff;
        border: 1px solid #40a9ff;
        border-radius: 4px;
        font-size: 12px;
    }

    .note_header {
        margin-bottom: 2px;
        padding-bottom: 4px;
        border-bottom: 1px solid #ccc;
    }

    .note_content {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
        overflow: hidden;
        margin-bottom: 5px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    > span {
        &.active {
            color: var(--color_active);
        }
    }
}