@import '../../assets/scss/Theme.module.scss';

.Imagebox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  .Upload {
    width: 100%;
    height: 100%;
    :global(.ant-upload.ant-upload-select-picture-card) {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 0;
      background-color: $dark_bgColor;
      >span {
        color: $dark_color;
      }
    }
  }
  .Shower {
    width: 100%;
    height: 100%;
  }
  .Icons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $dark_bgColor;
    color: $dark_color;
    font-size: 2rem;
    .iconBoxIcon {
      cursor: pointer;
      &:hover {
        color: $dark_color_active;
      }
    }
  }
}

.lightImagebox {
  .Upload {
    :global(.ant-upload.ant-upload-select-picture-card) {
      background-color: $light_bgColor;
      >span {
        color: $light_color;
      }
    }
  }
  .Icons {
    background-color: $light_bgColor;
    color: $light_color;
  }
}