.Imagebox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  .Upload {
    width: 100%;
    height: 100%;
    :global(.ant-upload.ant-upload-select-picture-card) {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 0;
      background-color: var(--bgColor);
      >span {
        color: var(--color);
      }
    }
  }
  .imageLoading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borderColor);
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.25);
  }
  .Shower {
    width: 100%;
    height: 100%;
  }
  .Icons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: var(--color);
    font-size: 2rem;
    .iconBoxIcon {
      cursor: pointer;
      &:hover {
        color: var(--color_active);
      }
    }
  }
}