.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 12px;

  .tagItem {
    display: flex;
    margin: 0 7px 10px 0;
    padding: 4px 10px;
    border: 1px solid var(--border_color);
    border-radius: 20px;
    cursor: pointer;
    &.active {
      color: var(--color_active);
      border-color: var(--color_active);
    }
    .allIconBox {
      position: relative;
      .moreOperateIcon {
        position: relative;
        margin-left: 4px;
        &.editting {
          color: var(--color_active);
        }
      }
      .isShow {
        color: var(--color_active);
      }
      .iconsBox {
        position: absolute;
        right: -55px;
        top: -3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        height: 25px;
        background-color: var(--bg_color_hover);
        border-radius: 4px;
        .treenodeIcon {
          display: inline-block;
          margin: 0 3px;
          margin-right: 4px;
          color: var(--color);
          &:hover {
            color: var(--color_active);
          }
        }
      }
    }
  }
}
// 新增按钮
.addTag {
  
}