.wrapper {
  height: calc(100% - 74px);
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 12px;
  max-height: calc(100% - 34px);
  .tagItem {
    display: flex;
    margin: 0 4% 12px 0;
    padding: 4px 10px;
    background-color: var(--bg_color_mask);
    color: var(--color);
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &.active {
      color: var(--color_active);
      border-color: var(--color_active);
    }
    .allIconBox {
      position: relative;
      .moreOperateIcon {
        position: relative;
        margin-left: 4px;
        &.editting {
          color: var(--color_active);
        }
      }
      .isShow {
        color: var(--color_active);
      }
      .iconsBox {
        position: absolute;
        right: -55px;
        top: -3px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        height: 25px;
        background-color: var(--bg_color_hover);
        border-radius: 4px;
        .treenodeIcon {
          display: inline-block;
          margin: 0 3px;
          margin-right: 4px;
          color: var(--color);
          &:hover {
            color: var(--color_active);
          }
        }
      }
    }
  }
}
// 新增按钮
.addTag {
  margin: 5px 0;
}