.tree {
    padding-left: 20px;
    padding-bottom: 10px;
    .subTree {
        .subTreeHeader {

        }
        .subTreeContent {
            margin-left: 20px;
        }
    }
    .treeItem {

    }
}