.music {
  padding: 10px 6px 5px;
  text-align: center;
  .musicBox {
    width: 100%;
    height: 28px;
    // width: 270px;
    // height: 100%;
    > audio {
      width: 100%;
      height: 100%;
      &:focus {
        outline: unset;
      }
    }
  }
  .songName {
    display: inline-block;
    padding: 4px 15px 1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
  }
  .iconBox {
    position: relative;
    padding: 0 0 5px;
    .playIcon {
      font-size: 18px;
      margin: 0 8px;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        color: var(--color_active);
      }
      &.active {
        color: var(--color_active);
      }
    }
  }
  .musicList {
    position: absolute;
    top: 99px;
    left: 0;
    right: 0;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--bg_color);
    z-index: 1;
    opacity: 0;
    max-height: 0;
    font-size: 13px;
    > span {
      display: inline-block;
      width: 100%;
      padding: 8px 0;
      cursor: pointer;
      &.active {
        color: white;
        background-color: var(--color_active);
      }
      &:hover {
        color: white;
        background-color: var(--color_active);
      }
    }
  }
  $height: 450px;
  .show {
    max-height: $height;
    animation: show 1s;
    opacity: 1;
  }

  .hide {
    max-height: 0;
    animation: hide 0.3s;
    opacity: 1;
  }

  @keyframes show {
    from {
      max-height: 0;
    }
    to {
      max-height: $height;
    }
  }

  @keyframes hide {
    from {
      max-height: $height;
    }
    to {
      max-height: 0;
    }
  }
}

@media (max-width: 720px) {
  .music {
    .musicBox {
      height: 40px;
    }
    .songName {
      font-size: 20px;
      margin: 15px 0;
    }
    .iconBox {
      .playIcon {
        margin-top: 15px;
        font-size: 40px;
      }
    }
  }
}
