.table {
    border: 1px solid white;
    border-radius: 10px;
    :global {
        .ant-table-cell-row-hover {
            background-color: rgba(31, 53, 121, 0.9) !important;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.renderValue {
  white-space: pre-wrap;
}