.wrapper {
    height: 100%;
}

.tagFilter {
    background: var(--bg_color);
    box-sizing: border-box;
    border-bottom: 1px solid var(--border_color);
    overflow: hidden;
    .tagFilterInput {
        // width: calc(100% - 1.4rem);
        height: 40px;
        margin: 0;
    }
    :global {
        .ant-input-affix-wrapper {
            background: var(--bg_color);
            color: var(--color);
            border-color: transparent;
        }
        .ant-input-suffix {
            .anticon.ant-input-clear-icon {
                color: var(--color);
            }
        }
    }
    :global(.ant-input) {
        letter-spacing: 1px;
        font-size: 15px;
        border: none;
        box-shadow: none;
        background: var(--bg_color);
        color: var(--color);
    }

    :global(.ant-input-prefix) {
        color: var(--color);
    }

    :global(.ant-input-suffix) {
        right: 6px;
        > i {
            color: var(--color);
        }
    }
}

.nowActiveTag {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border_color);
    .tagItem {
        margin: 0;
    }
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    max-height: calc(100% - 84px);
    // 新增按钮
    .addTag {
        align-items: center;
        height: 30px;
        padding: 5px 10px;
        color: white;
        background-color: #1890ff;
    }
}

.tagItem {
    display: flex;
    margin: 0 10px 10px 0;
    padding: 1px 7px;
    background-color: var(--bg_color_mask);
    color: var(--color);
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    &.active {
        color: var(--color_active);
        border-color: var(--color_active);
    }
}

.treeNodeIcon {
    display: inline-block;
    margin: 0 5px;
}

@media (max-width: 720px) {
    .addTag {
        display: none;
    }
    .tagList {
        .tagItem {
            border-color: black;
            &.active {
                color: white;
                background-color: #00a4ff;
            }
            .allIconBox {
                .iconsBox {
                    display: none;
                }
            }
        }
    }
}
