.todoList {
    display: flex;
    height: 100%;
    font-size: 16px;
    text-align: left;
    > div:first-child {
        flex: 1;
        height: 100%;
    }
}

.bookMark {
    width: 15px;
    height: 100%;
    line-height: 100vh;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.bookMarkDrawer,
.noteDrawer {
    z-index: 4;
    :global {
        .ant-drawer-body {
            padding: 10px 0;
        }
        .ant-drawer-header,
        .ant-drawer-title,
        .ant-drawer-content {
            background-color: #001529;
            color: rgba(255, 255, 255, 0.65);
        }
        .ant-drawer-close {
            color: rgba(255, 255, 255, 0.65);
        }
    }
}

.Layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(24, 1fr);
    .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 11;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .box2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 16;
        border-bottom: 1px solid #ccc;

        display: flex;
        flex-direction: column;
        > div:first-child {
            flex: 1;
        }
        > div:last-child {
            padding: 5px 20px;
            border-top: 1px solid #ccc;
        }
    }

    .box3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 25;
        border-left: 1px solid #ccc;
    }

    .box4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 25;
        border-right: 1px solid #ccc;
    }

    .box5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 16;
        grid-row-end: 25;
    }
}
