:global {
    .ant-menu-item > a {
        display: inline-block;
    }
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--border_color);
    box-sizing: border-box;
    overflow: hidden;

    :global(.ant-menu-horizontal) {
        border-bottom: none;
    }

    .headerLeft {
        display: flex;
        align-items: center;
        .name {
            padding: 0 1rem;
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--color);
            cursor: pointer;
            &:hover {
                color: var(--color_active);
            }
        }
    }

    .headerRight {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // text-align: right;
        .already {
            flex: 1;
            text-align: right;
            padding-right: 10px;
        }
        .switch {
            margin: 0 10px;
            border: 1px solid var(--border_color);
        }
        .headerRouteList {
            display: inline-block;
            background-color: var(--bg_color);
            max-width: 40%;
            .headerIcon {
                color: var(--color);
            }
        }
        a,
        span {
            display: inline-block;
            color: var(--color);
        }
        .exportIcon {
            font-size: 20px;
            margin: 0 10px;
            cursor: pointer;
            &:hover {
                color: var(--color_active);
            }
        }
    }
}

.routerItem {
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 5px;
    padding: 0 5px;
    cursor: pointer;
    &.alive {
        border-color: #ccc;
    }
    &:hover {
        background-color: #1890ff55;
    }
    &.active {
        background-color: #1890ff;
        a {
            color: var(--color_active);
        }
    }
    a {
        color: var(--color);
        &:hover {
            color: var(--color_active);
        }
    }
}
