.list {
    position: relative;
    flex: 1;
    min-height: 100%;

    &:nth-child(2) {
        flex: 1.2;
        border-left: 1px solid var(--border_color);
        border-right: 1px solid var(--border_color);
    }

    .header {
        padding: 20px 20px 10px;
        .header1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 500;

            > span {
                &.active {
                    color: var(--color_active);
                }
            }
        }
    }

    .OneDayListWrap {
        height: calc(100% - 165px);
        padding: 0 20px;
    }

    .oneDay {
        margin-bottom: 8px;

        .time {
            margin-bottom: 8px;
            border-bottom: 1px solid var(--border_color);

            &.today {
                color: var(--color_active);
            }

            &.previously {
                color: red;
            }

            &.future {
                color: grey;
            }
        }
    }
    .item {
        display: flex;
        justify-content: space-around;
        margin: 12px 0;

        > span:nth-child(1) {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .throughout {
            color: grey;
        }
    }

    .doneIcon,
    .icon {
        margin: 0 7px;
        cursor: pointer;
        &:hover {
            color: var(--color_hover_green);
        }
    }
    .doneIcon {
        font-size: 20px;
        margin-right: 14px;
    }

    .pagination {
        position: sticky;
        bottom: 0;
        padding: 10px 20px;
        text-align: right;
        color: var(--color);
        background-color: var(--bg_color);
        :global {
            .ant-select-item {
                color: var(--color);
                background-color: var(--bg_color);
            }
        }
    }
}
