
.calendarWrapper {
    margin-bottom: 10px;
    :global {
        .ant-picker-calendar {
            text-align: center;
        }
        .ant-picker-cell::before {
            height: 33px;
        }
        .ant-picker-cell {
            padding: 0;
            > div {
                padding: 6px 0;
            }
        }
    }

    .cell {
        margin: 0 3px;
        &.notThisMonth {
            opacity: 0.5;
        }
        &.green {
            color: white;
            border: 1px solid green;
            background-color: green;
        }
        &.red {
            color: white;
            border: 1px solid red;
            background-color: red;
        }
        &.blue {
            color: white;
            background-color: #4096ff;
        }
        &.blueBorder {
            color: #4096ff;
            border: 1px solid #4096ff;
        }
    }
}
