.inputItem {
    position: relative;
    .deleteIcon {
        position: absolute;
        top: 28px;
        right: -21px;
        font-size: 16px;
        cursor: pointer;
    }
}
.copyIcon {
    position: absolute;
    top: 4px;
    right: -21px;
    font-size: 16px;
    cursor: pointer;
}
