.inputList {
    display: flex;
    row-gap: 10px;
    align-items: flex-start;

    .mdShowWrapper {
        width: calc(50% - 3px);
        margin-right: 6px;
        color: rgba(255, 255, 255, 0.65);

        .mdShowTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
        }

        .mdShow {
            border: 2px solid #91caff;
            box-sizing: border-box;
            padding: 4px 11px;
            border-radius: 6px;
            min-height: 120px;
        }
    }

    .rightSide {
        flex: 1;
    }
}

.inputItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.deleteIcon {
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
}

.textarea {
    padding-right: 20px;
    word-break: break-all;

    textarea {

        /* 进度条全局样式 */
        & {
            overflow: hidden;
            overflow-y: auto;
        }

        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 3px;
            /* 高宽分别对应横竖滚动条的尺寸 */
            height: 3px;
        }

        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 0.5rem;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: white;
        }

        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            background: black;
        }
    }
}