.log {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg_color);
  color: var(--color);
  .logLeft {
    position: relative;
    width: 17%;
    min-width: 276px;
    height: 100%;
    border-right: 1px solid var(--border_color);
    .addLog {
      text-align: left;
      border-bottom: 1px solid var(--border_color);
      padding: 10px 10px 5px;
      .addLogButton {
        margin-bottom: 5px;
      }
    }
  }
  .logRight {
    position: relative;
    flex: 1;
    height: 100%;
    .logTab {
      width: 92%;
      max-width: 1360px;
      // min-width: 1280px;
      text-align: left;
      margin: 4rem auto;
      height: calc(100% - 8rem);
      color: var(--color);
      border: 1px solid var(--border_color);
      box-sizing: border-box;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
      :global(.ant-tabs-bar) {
        border-color: var(--border_color);
      }
      .editIcon {
        vertical-align: middle;
        margin-left: 0.3rem;
        margin-right: 0;
      }
      .logTabPane {
        height: 100%;
        .logList {
          height: calc(100% - 40px);
          margin-bottom: 0;
          padding: .3rem 0 .9rem;
        }
      }
    }
  }
  :global {
    .ant-tabs-tab-prev-icon, .ant-tabs-tab-next-icon {
      color: var(--color);
    }
    .ant-tabs-top-content.ant-tabs-content-animated {
      height: calc(100% - 60px);
    }
  }
}