@import '../../assets/scss/Theme.module.scss';

.Log {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: $dark_bgColor;
  color: $dark_color;
  .logTab {
    width: 92%;
    max-width: 1360px;
    min-width: 1280px;
    text-align: left;
    margin: 4rem auto;
    height: calc(100% - 8rem);
    color: $dark_color;
    border: 1px solid $dark_borderColor;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    :global(.ant-tabs-bar) {
      border-color: $dark_borderColor;
    }
    .editIcon {
      vertical-align: middle;
      margin-left: 0.3rem;
      margin-right: 0;
    }
    .logTabPane {
      height: 100%;
      .logList {
        height: calc(100% - 40px);
        margin-bottom: 0;
        padding: .3rem 0 .9rem;
      }
    }
  }
}

.lightLog {
  background-color: $light_bgColor;
  color: $light_color;
  .logTab {
    color: $light_color;
    border: 1px solid $light_borderColor;
    :global(.ant-tabs-bar) {
      border-color: $light_borderColor;
    }
  }
}

:global(.ant-tabs-top-content.ant-tabs-content-animated) {
  height: calc(100% - 60px);
}
:global(.ant-tabs-tab-prev), :global(.ant-tabs-tab-next), :global(.ant-tabs-tab-btn-disabled) {
  color: white;
}