.LogCont {
  height: 100%;
  overflow: auto;
  background: #001529;
  .back-button {
    position: fixed;
    left: 2rem;
    top: 4rem;
    z-index: 2;
  }
  .log-edit-switch {
    position: fixed;
    top: 4rem;
    right: 2rem;
  }
}