.LogCont {
  width: 70%;
  margin: 3rem auto;
  .back-button {
    position: fixed;
    left: 2rem;
    top: 4rem;
    z-index: 2;
  }
  .log-edit-switch {
    position: fixed;
    top: 4rem;
    right: 2rem;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  .author {
    margin: 10px 0;
  }
  .time {
    margin-bottom: 10px;
    color: #ccc;
    >span {
      margin: 0 3px;
    }
  }
  .logcont {
    font-size: 1rem;
    text-align: left;
    p {
      margin-bottom: 0;
    }
  }
}