.operate-box {
  display: flex;
  padding: .3rem 2rem;
  .add-log-button {
    margin-right: .8rem;
  }
  .orderby-box {
    color: rgba(255, 255, 255, 0.65);
    .ant-radio-button-wrapper {
      background: #001529;
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .check-box {
    margin-left: .8rem;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.65);
    .ant-checkbox-inner {
      background: transparent;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #1890ff;
    }
  }
  .search-box {
    width: 13rem;
    margin-left: .3rem;
    .ant-input-prefix {
      color: rgba(255, 255, 255, 0.65);
    }
    .ant-input-suffix {
      .ant-input-clear-icon {
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .ant-input {
      background: #001529;
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .pagination {
    flex: 1;
    text-align: right;
    >li {
      background: #001529;
      >a {
        color: rgba(255, 255, 255, 0.65);
        background: #001529;
      }
      .ant-select {
        color: rgba(255, 255, 255, 0.65);
        .ant-select-selection {
          background: #001529;
          >span {
            color: rgba(255, 255, 255, 0.65);
          }
        }
      }
      .ant-select-dropdown {
        color: rgba(255, 255, 255, 0.65);
        background: #001529;
        .ant-select-dropdown-menu-item {
          color: rgba(255, 255, 255, 0.65);
          &:hover {
            background: rgba(255,255,255,0.1);
          }
        }
        .ant-select-dropdown-menu-item-selected {
          background: rgba(255,255,255,0.1);
        }
      }
    }
    .ant-pagination-options-size-changer.ant-select {
      margin-right: 0;
    }
  }
}