.operate-box {
  display: flex;
  padding: .3rem .7rem;
  .check-box {
    margin-left: .8rem;
    line-height: 32px;
  }
  .search-box {
    width: 13rem;
    margin-left: .3rem;
  }
  .pagination {
    flex: 1;
    text-align: right;
    .ant-pagination-options-size-changer.ant-select {
      margin-right: 0;
    }
  }
}