.operateBox {
  display: flex;
  padding: .3rem 2rem;
  .addLogButton {
    margin-right: .8rem;
  }
  .orderbyBox {
    color: var(--color);
    :global(.ant-radio-button-wrapper) {
      background-color: var(--bgColor);
      color: var(--color);
    }
  }
  .checkBox {
    margin-left: .8rem;
    line-height: 32px;
    color: var(--color);
    :global(.ant-checkbox-inner) {
      background-color: transparent;
    }
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: var(--color_active);
    }
  }
  .searchBox {
    width: 13rem;
    margin-left: .3rem;
    :global(.ant-input-prefix) {
      color: var(--color);
    }
    :global(.ant-input-suffix .ant-input-clear-icon) {
      color: var(--color);
    }
    :global(.ant-input) {
      background: var(--bgColor);
      color: var(--color);
    }
  }
  .pagination {
    flex: 1;
    text-align: right;
    >li {
      background: var(--bgColor);
      >a {
        color: var(--color);
        background: var(--bgColor);
      }
      :global(.ant-select) {
        color: var(--color);
        :global(.ant-select-selection) {
          background-color: var(--bgColor);
          >span {
            color: var(--color);
          }
        }
      }
      :global(.ant-select-dropdown) {
        color: var(--color);
        background: var(--bgColor);
        :global(.ant-select-dropdown-menu-item) {
          color: var(--color);
          &:hover {
            background: var(--bgColorBlur);
          }
        }
        :global(.ant-select-dropdown-menu-item-selected) {
          background: var(--bgColorBlur);
        }
      }
    }
    :global(.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis),
    :global(.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis) {
      color: var(--color);
    }
    :global(.ant-pagination-options-size-changer.ant-select) {
      margin-right: 0;
    }
  }
}

.logList {
  height: calc(100% - 41px);
  padding-bottom: 10px;
  .emptyList {
    text-align: center;
    font-size: 30px;
  }
  .logListLi {
    margin: .6rem 2rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
    list-style: none;
    cursor: pointer;
    &.activeStick {
      background-color: var(--bgColorMask);
    }
    &:hover {
      color: var(--color_active);
      border-color: var(--color_active);
    }
  }
}
