.cmd {
  width: 600px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 16px;
  text-align: left;
  .input {
    margin-bottom: 20px;
  }
  .result {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid var(--border_color);
    border-radius: 4px;
    white-space: pre-wrap;
  }
}