.cmd {
    display: flex;
    min-width: 800px;
    width: calc(100vw - 200px);
    margin: 0 auto;
    padding: 40px 0;
    font-size: 16px;
    text-align: left;
    > div:first-child {
        width: calc(100vw - 600px);
        padding-right: 20px;
    }
    > div:last-child {
        flex: 1;
    }
    .input {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .btn {
        display: flex;
        justify-content: space-between;
    }
    .result {
        height: calc(100vh - 450px);
        margin-top: 5px;
        padding: 20px;
        border: 1px solid var(--border_color);
        border-radius: 4px;
        white-space: pre-wrap;
        overflow: auto;
    }
    .script {
        height: calc(100vh - 160px);
        margin-top: 5px;
        padding: 10px;
        border: 1px solid var(--border_color);
        border-radius: 4px;
        white-space: pre-wrap;
        overflow-x: auto;
        .scriptItem {
            font-size: 14px;
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
            .itemName {
                font-weight: 600;
                color: #83bcf1;
                font-size: 16px;
            }
            &:last-child {
                border-bottom: unset;
            }
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
