.footer {
    display: flex;
    justify-content: space-between;
}

.footer2 {
    display: flex;
    justify-content: flex-end;
}

.todoChildListTitle {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
}

.modalTitle {
    display: flex;
    align-items: center;
}

.titleClass {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.modal {
    :global {
        .ant-input::placeholder {
            color: rgba(255, 255, 255, 0.65);
            background-color: #001529;
        }
        .ant-modal-header,
        .ant-modal-content,
        .ant-modal-title {
            color: rgba(255, 255, 255, 0.65);
            background-color: #001529;
        }

        .ant-btn-default.ant-btn-dangerous:disabled,
        .ant-btn-primary:disabled,
        .ant-btn-primary.ant-btn-background-ghost:disabled {
            background-color: white;
        }

        .ant-modal-close {
            color: rgba(255, 255, 255, 0.65);
        }

        /* 进度条全局样式 */
        .ant-modal-body {
            overflow: hidden;
            overflow-y: auto;
        }
        .ant-modal-body::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
            height: 3px;
        }
        .ant-modal-body::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 0.5rem;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: white;
        }
        .ant-modal-body::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            background: #001529;
        }
    }
}

.wrapper {
    display: flex;
    overflow-y: auto;
    .left {
        flex: 1;
        min-width: 450px;
        max-height: calc(100vh - 200px);
        margin-right: 10px;
        border-right: 1px solid #ccc;
        padding-bottom: 20px;
    }
    .right {
        flex: 3;
        min-width: 1350px;
        max-height: calc(100vh - 200px);
    }
    .full {
        width: 100%;
    }
}

.title {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 7px;
}
