@media (max-width: 720px) {
  .miniMusicPlayer {
    display: none;
  }
}

.miniMusicPlayer {
  position: absolute;
  width: 240px;
  border: 1px solid #ccc;
  z-index: 9999;
  background-color: var(--bg_color);
  opacity: 0.9;
  border-radius: 20px;
  opacity: 0.15;
  &:hover {
    opacity: 1;
  }
}
