@media (max-width: 720px) {
    .miniMusicPlayer {
        display: none;
    }
}

.miniMusicPlayer {
    position: absolute;
    width: 300px;
    border: 1px solid #ccc;
    z-index: 9999;
    background-color: var(--bg_color);
    border-radius: 16px;
}
