$headerHight: 3rem;
.routerWrapper {
  height: 100%;
}

.RouterHead {
  height: $headerHight;
}

.RouterView {
  width: 100%;
  height: calc(100% - #{$headerHight});
  font-size: 0;
}

.routeLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.65);
}