.list {
    position: relative;
    flex: 1;
    min-height: 100%;

    &:nth-child(2) {
        flex: 1.2;
        border-left: 1px solid var(--border_color);
        border-right: 1px solid var(--border_color);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 10px;
        font-size: 18px;
        font-weight: 500;
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--bg_color);
        z-index: 3;

        > span {
            &.active {
                color: var(--color_active);
            }
        }
    }

    .isOnlyShowDoing {
        color: red;
        background-color: transparent;
        border-color: red;
        &:hover {
            color: black;
            background-color: red;
        }
    }

    .OneDayListWrap {
        height: calc(100% - 75px);
        padding: 0 20px;
    }

    .oneDay {
        margin-bottom: 8px;

        .time {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            border-bottom: 1px solid var(--border_color);

            &.today {
                color: var(--color_active);
            }

            &.previously {
                color: red;
            }

            &.future {
                color: #52d19c;
            }
        }
    }
}
