.bookMarkDrawer,
.footprintDrawer {
    z-index: 4;
    :global {
        .ant-drawer-body {
            padding: 10px 0;
        }
        .ant-drawer-header,
        .ant-drawer-title,
        .ant-drawer-content {
            background-color: #001529;
            color: rgba(255, 255, 255, 0.65);
        }
        .ant-drawer-close {
            color: rgba(255, 255, 255, 0.65);
        }
    }
}