.modal {
  :global {
      .ant-input::placeholder {
          color: rgba(255, 255, 255, 0.65);
          background-color: #001529;
      }
      .ant-modal-header,
      .ant-modal-content,
      .ant-modal-title {
          color: rgba(255, 255, 255, 0.65);
          background-color: #001529;
      }

      .ant-btn-default.ant-btn-dangerous:disabled,
      .ant-btn-primary.ant-btn-background-ghost:disabled {
          background-color: white;
      }
      
      .ant-modal-close {
          color: rgba(255, 255, 255, 0.65);
      }

      /* 进度条全局样式 */
      .ant-modal-body {
          overflow: hidden;
          overflow-y: auto;
      }
      .ant-modal-body::-webkit-scrollbar {
          /*滚动条整体样式*/
          width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
          height: 3px;
      }
      .ant-modal-body::-webkit-scrollbar-thumb {
          /*滚动条里面小方块*/
          border-radius: 0.5rem;
          // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          background: white;
      }
      .ant-modal-body::-webkit-scrollbar-track {
          /*滚动条里面轨道*/
          // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          border-radius: 0.5rem;
          background: #001529;
      }
  }
}

.input {
  margin-bottom: 10px;
}

.content {
  height: 70vh;
}