.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--borderColor);
  box-sizing: border-box;
  :global(.ant-popover-inner-content) {
    padding: 0;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
  }

  :global(.ant-menu-horizontal) {
    border-bottom: none;
  }
  
  :global(.ant-input-affix-wrapper .ant-input-prefix),
  :global(.ant-input-affix-wrapper .ant-input-suffix),
  :global(.ant-input-affix-wrapper) {
    color: var(--color);
  }

  .headerLeft {
    padding-left: 1rem;
    >a {
      line-height: 3rem;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--color);
      cursor: pointer;
      &:hover {
        color: var(--color_active);
      }
    }
  }

  .headerRight {
    .themeSwitch {
      border: 1px solid var(--borderColor);
      margin-right: 10px;
      &:global(.ant-switch-checked) {
        background-color: transparent;
      }
      &:global(.ant-switch::after) {
        border: 1px solid var(--borderColor);
      }
    }
    .searchTree {
      width: 165px;
      margin-right: 1rem;
      >input {
        border-color: var(--borderColor);
        background-color: var(--bgColor);
        color: var(--color);
      }
      :global(.ant-input-prefix), :global(.ant-input-suffix>i) {
        color: var(--color);
      }
    }
    .headerRouteList {
      display: inline-block;
      background-color: var(--bgColor);
      .headerIcon {
        color: var(--color);
      }
    }
    a, span {
      display: inline-block;
      color: var(--color);
    }

    .treeSearchList {
      max-height: 300px;
      overflow-y: auto;
      font-size: 1rem;
      >div {
        border: 1px solid var(--borderColor);
        border-radius: 5px;
        margin: .5rem;
        padding: .5rem;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
          background-color: var(--bgColor);
        }
        >span {
          display: block;
          .active {
            background-color: var(--keyword_highlight);
          }
          &:first-child {
            font-size: .85rem;
          }
          &:last-child {
            font-size: .7rem;
          }
        }
      }
    }
    
    .noResult {
      padding: .5rem;
    }
  }
}
