.label {
    font-weight: 600;
    color: #8f8f8f;
}

.phonetic {
    font-weight: 600;
    color: #8f8f8f;
}

.modalContent {
    display: flex;
    .modalLeft {
        flex-shrink: 0;
        flex: 1;
    }
    .modalRight {
        height: 75vh;
        flex-shrink: 0;
        flex: 1;
        margin-left: 5px;
        padding-right: 2px;
        /* 进度条全局样式 */
        & {
            overflow: hidden;
            overflow-y: auto;
        }
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
            height: 3px;
        }
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 0.5rem;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: #ccc;
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            // background: var(--bg_color);
        }
    }
}

.item {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    .starIcon {
        position: absolute;
        left: 5px;
        top: 5px;
        color: #12f793;
    }
    .infoIcon {
      position: absolute;
      right: 2px;
      top: 5px;
      color: #ccc;
    }
    .deleteIcon {
      position: absolute;
      right: 2px;
      bottom: 5px;
      color: red;
    }
    .title {
        margin-bottom: 8px;
    }
    .content {
    }
}

.activeItem {
    border-color: #1677ff;
}

.keyword {
    font-size: 16px;
    font-weight: 700;
}
