.label {
    font-weight: 600;
    color: #c6c6c6;
}

.phonetic {
    font-weight: 600;
    color: #c6c6c6;
}

.modalContent {
    display: flex;
    .modalLeft {
        flex-shrink: 0;
        flex: 1;
    }
    .modalRight {
        min-height: 75vh;
        flex-shrink: 0;
        flex: 1;
        margin-left: 5px;
        padding-right: 2px;
        .list {
            height: 75vh;
            width: 100%;
            /* 进度条全局样式 */
            & {
                overflow: hidden;
                overflow-y: auto;
            }
            &::-webkit-scrollbar {
                /*滚动条整体样式*/
                width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
                height: 3px;
            }
            &::-webkit-scrollbar-thumb {
                /*滚动条里面小方块*/
                border-radius: 0.5rem;
                // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: #ccc;
            }
            &::-webkit-scrollbar-track {
                /*滚动条里面轨道*/
                // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 0.5rem;
                // background: var(--bg_color);
            }
        }
    }
}

.item {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    .starIcon {
        position: absolute;
        left: 5px;
        top: 5px;
        color: #12f793;
    }
    .infoIcon {
      position: absolute;
      right: 2px;
      top: 5px;
      color: #ccc;
    }
    .deleteIcon {
      position: absolute;
      right: 2px;
      bottom: 5px;
      color: red;
    }
    .title {
        margin-bottom: 8px;
    }
    .content {
    }
}

.activeItem {
    border-color: #1677ff;
}

.keyword {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.modal {
    :global {
        .ant-input::placeholder {
            color: rgba(255, 255, 255, 0.65);
            background-color: #001529;
        }
        .ant-modal-header,
        .ant-modal-content,
        .ant-modal-title {
            color: rgba(255, 255, 255, 0.65);
            background-color: #001529;
        }

        .ant-btn-default.ant-btn-dangerous:disabled,
        .ant-btn-primary:disabled,
        .ant-btn-primary.ant-btn-background-ghost:disabled {
            color: #a8a8a8;
            background-color: white;
        }

        .ant-modal-close {
            color: rgba(255, 255, 255, 0.65);
        }

        /* 进度条全局样式 */
        .ant-modal-body {
            overflow: hidden;
            overflow-y: auto;
        }
        .ant-modal-body::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
            height: 3px;
        }
        .ant-modal-body::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 0.5rem;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: white;
        }
        .ant-modal-body::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            background: #001529;
        }

        .ant-form-item {
            margin-bottom: 10px;
        }

        .ant-form-item-label > label {
            color: rgba(255, 255, 255, 0.65);
        }

        .ant-input {
            padding-right: 20px;
        }

        .ant-input-affix-wrapper,
        .ant-input,
        .anticon.ant-input-clear-icon,
        .ant-btn,
        .ant-radio-button-wrapper,
        .ant-select-selector.ant-select-selector,
        .ant-picker,
        .ant-picker-input > input,
        .ant-picker-suffix,
        .ant-picker-clear {
            color: rgba(255, 255, 255, 0.65);
            background-color: #001529;
        }
        .ant-switch {
            background-color: #4b4646;
        }
        .ant-btn:hover {
            color: #1890ff;
        }
        .ant-switch-checked,
        .ant-btn-primary {
            background-color: #1890ff;
            color: white;
        }
        .ant-btn-primary.ant-btn-dangerous {
            background-color: #ff4d4f;
        }
        .ant-radio-button-wrapper-checked {
            color: white !important;
        }
    }
}