.logcontEditByMD {
  width: calc(100% - 4rem);
  height: calc(100% - 2rem);
  margin: 1rem auto;
  color: var(--color);
  font-size: 14px;
  .saveButton {
    position: absolute;
    left: 2rem;
    top: 3.5rem;
  }
  .logcontTitle {
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: unset;
    background: transparent;
  }
  .logcontAuthor {
    display: block;
    width: 15%;
    margin: .5rem auto;
    text-align: center;
    color: unset;
    background: transparent;
  }
  .logcontTime {
    margin-bottom: .5rem;
    font-size: 12px;
    >span {
      display: inline-block;
      margin: 0 .5rem;
    }
  }

  .markdownShower {
    height: calc(100% - 8rem);
    padding: 4px 11px;
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    border: 1px solid var(--border_color);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .markdownEditor {
    height: calc(100% - 8rem);
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}