:global {
    .ant-tooltip {
        z-index: 2;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        display: flex;
        align-items: center;
        color: var(--color);
        padding: 0;
        font-size: 16px;
    }
    .ant-collapse-ghost
        > .ant-collapse-item
        > .ant-collapse-content
        > .ant-collapse-content-box {
        color: var(--color);
        padding: 0 0 0 24px;
        font-size: 16px;
    }
}

.item {
    display: inline-flex;
    justify-content: space-around;
    margin: 6px 0;

    > span:nth-child(1) {
        flex: 1;
        display: flex;
        align-items: flex-start;
    }

    .grey {
        color: grey;
    }

    .big {
        font-size: 16px;
    }
    
    .yellow {
        color: "#ffeb3b";
    }

    .time {
        color: grey;
        vertical-align: 1px !important;
        font-size: 12px;
        &.today {
            color: #1890ff;
        }

        &.previously {
            // color: red;
        }

        &.future {
            color: #52d19c;
        }
    }

    .name {
        flex: 1;
        display: inline-block;
        cursor: pointer;
        &:hover {
            color: #40a9ff;
        }
        span,
        s {
            vertical-align: middle;
        }
        .category {
            display: inline-block;
            margin-right: 5px;
            padding: 0px 3px;
            font-size: 12px;
            color: white;
            border-radius: 2px;
            vertical-align: 1px;
        }
    }
}

.descList {
    .desc {
        white-space: pre-wrap;
        word-break: break-all;
        border-bottom: 1px solid #cccccc80;
        box-sizing: border-box;
        padding: 5px;
        &:last-child {
            border-bottom: none;
        }
    }
}

.icon {
    margin-left: 5px;
    z-index: 2;
    background: var(--bg_color);
}
.doneIcon {
    margin-right: 10px;
    padding-top: 5px;
    z-index: 2;
    font-size: 18px;
    background: var(--bg_color);
    cursor: pointer;
    &:hover {
        color: #20d420;
    }
}
.progressIcon {
    margin-left: 5px;
    padding-top: 5px;
    z-index: 2;
    font-size: 18px;
    background: var(--bg_color);
}