:global {
    .ant-tooltip {
        z-index: 2;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        display: flex;
        align-items: center;
        color: var(--color);
        padding: 0;
        font-size: 16px;
    }
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
        color: var(--color);
        padding: 0 0 0 24px;
        font-size: 16px;
    }
}

.item {
    display: inline-flex;
    justify-content: space-around;
    margin: 6px 0;

    > span:nth-child(1) {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .throughout {
        color: grey;
    }

    .name {
        flex: 1;
        display: inline-block;
        cursor: pointer;
        &:hover {
            color: #40a9ff;
        }
        span, s {
            vertical-align: middle;
        }
        .category {
            display: inline-block;
            margin-right: 5px;
            padding: 0px 3px;
            font-size: 12px;
            color: white;
            border-radius: 2px;
            vertical-align: 1px;
        }
    }
}

.desc {
    white-space: pre-wrap;
    word-break: break-all;
}

.icon {
    margin-left: 5px;
    z-index: 2;
    background: var(--bg_color);
}
.doneIcon {
    font-size: 18px;
    margin-right: 10px;
    z-index: 2;
    background: var(--bg_color);
}

.childList {
    position: relative;
    margin-left: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -4px;
        height: 1px;
        width: 11px;
        background-color: black;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: -4px;
        height: calc(100% + 24px);
        width: 1px;
        background-color: black;
    }
    &:first-child {
        &::after {
            height: calc(100% + 36px);
        }
    }
    &:last-child {
        &::after {
            bottom: 50%;
        }
    }
}
