.keepalive {
  margin: 80px;
  font-size: 20px;
  line-height: 1.8;
}

.router {
  >span {
    display: inline-block;
    border: 1px solid var(--color);
    margin-right: 10px;
    padding: 0 10px;
  }
}

.test >button {
  margin-left: 10px;
  color: var(--color);
  background-color: var(--bg_color);
  padding: 0 10px;
}