.logListItem {
  display: flex;
  .title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: bold;
    color: var(--color);
    .classification {
      margin-left: 1rem;
      font-size: .6rem;
      font-weight: normal;
      color: var(--color);
    }
  }
  .author, .orderbyTime, .editType {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    font-size: .5rem;
    color: var(--color);
  }
  .logOperateBox {
    .logOperateIcon {
      margin-left: .7rem;
      font-size: 1rem;
      color: var(--color);
      cursor: pointer;
      &.active {
        color: var(--color_active);
      }
      &:hover {
        color: var(--color_hover);
      }
    }
  }
}
