.wrapper {
  position: relative;
  min-width: 100px;
  min-height: 100px;
}

.lazyloadImage {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.mask {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}