.note {
    font-size: 16px;
    text-align: left;
    height: 100%;

    .wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20px 20px;

        >div {
            width: 100%;
            padding-bottom: 10px;
        }

        >div:first-child {
            position: sticky;
            top: 0;
            background-color: var(--bg_color);
            z-index: 4;
        }

        .radioList {
            // margin-bottom: 10px;
        }

        .input {
            background-color: var(--bg_color);
            z-index: 2;
        }
    }

    span {
        vertical-align: middle;
    }

    .pagination {
        position: sticky;
        bottom: 0;
        margin: 0 auto;
        padding: 10px 0;
        background-color: var(--bg_color);
        text-align: right;
    }

    .add_note {
        opacity: 0.6;
    }

    .edit_note {
        position: fixed;
        right: 2.5rem;
        top: 10.5rem;
        opacity: 0.6;
    }

    .delete_note {
        position: fixed;
        right: 2.5rem;
        top: 13.5rem;
        opacity: 0.6;
        color: #ff4d4f !important;
    }
}

.note_list {
    display: grid;
    column-gap: 10px;
    margin: 0 auto;

    >div {
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            border-color: #40a9ff;
        }
    }
}

.note_item {
    white-space: pre-line;
    text-overflow: ellipsis;
    font-size: 16px;
    overflow: hidden;

    &.active {
        border-color: #40a9ff;
        -webkit-line-clamp: unset;
        max-height: calc(100vh - 300px);
        overflow-y: auto;
        border: unset;
        padding: unset;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .note_box {
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 4px;
    }

    .category {
        display: inline-block;
        margin-right: 10px;
        padding: 0 5px;
        color: #40a9ff;
        border: 1px solid #40a9ff;
        border-radius: 4px;
        font-size: 12px;
    }

    .note_header {
        padding-top: 6px;
        margin-bottom: 4px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
        font-weight: 600;
    }

    .note_content {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
        overflow: hidden;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .note_time {
        // margin-bottom: 4px;
        padding-bottom: 6px;
        // border-bottom: 1px solid #ccc;
        font-size: 12px;
        color: #4ad5ba;
    }
}

.header {
    .headerOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 600;

        >span {
            &.active {
                color: var(--color_active);
            }
        }
    }
}