.transform {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    padding: 50px;
    >input {
        grid-column: 1 / 3;
    }
    >span {
        grid-column: 1 / 3;
    }
}