.markdownShower {
    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;

    blockquote {
        border-left: 2px solid #ccc;
        margin: 0;
        padding: 2px 0px 2px 10px;
        font-size: 1.05em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color);
        padding-bottom: 0.3em;
        margin-block-end: 0.3em;
    }

    ul,
    ol {
        padding-inline-start: 1em;

        li {
            padding: 0.3rem 0;
        }
    }

    ul {
        list-style-type: circle;
    }

    p {
        margin-block-start: 0.3rem;
        margin-block-end: 0.3rem;
        white-space: pre-wrap;
    }

    :global(.keyword) {
        color: #908080;
        background: yellow;
        margin: 0 3px;
        padding: 0 3px;
        font-size: 14px;
        border-radius: 4px;
        box-sizing: border-box;
    }

    :global(code.hljs) {
        margin: 0;
    }
}

code {
    background: #797979;
    color: #dcdcdc;
    margin: 0 4px;
    padding: 3px 8px;
    border-radius: 6px;
}