.note {
    height: 100%;
    font-size: 16px;
    text-align: left;
    span {
        vertical-align: middle;
    }
    .header {
        position: sticky;
        top: 0;
        max-width: 900px;
        margin: 0 auto;
        padding-top: 20px;
        background-color: var(--bg_color);
        .input {
            margin-bottom: 10px;
        }
        .radio {
            margin-bottom: 10px;
        } 
        :global(.ant-input) {
            color: var(--color);
            background-color: var(--bg_color);
        }
        :global(.ant-radio-wrapper) {
            color: var(--color);
        }       
    }

    .note_list {
        max-width: 900px;
        margin: 0 auto;
        .note_item {
            margin-bottom: 10px;
            padding: 5px 10px;
            border: 2px solid #ccc;
            border-radius: 4px;
            white-space: pre-line;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            &.active {
                border-color: #40a9ff;
                -webkit-line-clamp: unset;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .category {
                display: inline-block;
                margin-right: 10px;
                padding: 0 5px;
                color: #40a9ff;
                border: 1px solid #40a9ff;
                border-radius: 4px;
                font-size: 12px;
            }
        }
    }

    .pagination {
        position: sticky;
        bottom: 0;
        max-width: 900px;
        margin: 0 auto;
        padding: 20px 0;
        background-color: var(--bg_color);
        text-align: right;
        &:global(.ant-pagination) {
            color: var(--color);
        }
    }

    .add_note {
        position: absolute;
        right: 2.5rem;
        top: 7.5rem;
        opacity: 0.6;
    }
    .edit_note {
        position: absolute;
        right: 2.5rem;
        top: 10.5rem;
        opacity: 0.6;
    }
    .delete_note {
        position: absolute;
        right: 2.5rem;
        top: 13.5rem;
        opacity: 0.6;
    }
}
