.LogCont {
  height: 100%;
  overflow: auto;
  background: #001529;
  .backButton {
    position: fixed;
    left: 2rem;
    top: 4rem;
    z-index: 2;
  }
  .logEditSwitch {
    position: fixed;
    top: 4rem;
    right: 2rem;
    background: rgba(255, 255, 255, 0.65);
    &.ant-switch-checked {
      background-color: #1890ff;
    }
  }
}