@import '../../../assets/scss/Theme.module.scss';

.LogCont {
  height: 100%;
  overflow: auto;
  background-color: $dark_bgColor;
  .backButton {
    position: fixed;
    left: 2rem;
    top: 4rem;
    z-index: 2;
  }
  .logEditSwitch {
    position: fixed;
    top: 4rem;
    right: 2rem;
    background: $dark_bgColor;
    border: 1px solid $dark_borderColor;
    >span {
      color: $dark_color;
    }
    &:global(.ant-switch-checked) {
      background-color: transparent;
    }
    &:global(.ant-switch::after) {
      border: 1px solid $dark_borderColor;
    }
  }
}

.lightLogCont {
  background-color: $light_bgColor;
  .logEditSwitch {
    background: $light_bgColor;
    border: 1px solid $light_borderColor;
    >span {
      color: $light_color;
    }
    &:global(.ant-switch::after) {
      border: 1px solid $light_borderColor;
    }
  }
}