// 富文本编辑器通用样式
%rich-common {
  // 标题
  h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    margin-bottom: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--border_color);
    color: var(--color);
    font-weight: 600;
  }
  // 引用
  // blockquote {
  //   font-size: 18px;
  // }
  // 缩进
  .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 1rem;
  }
  .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 2rem;
  }
  .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 3rem;
  }
  .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 4rem;
  }
  // 列表
  ol, ul {
    padding-left: 1rem;
    li:not(.ql-direction-rtl)::before {
      margin-right: .6rem;
    }
  }
}