.Home {
  height: 100%;
  background-color: var(--bg_color);
  background-size: 100% 100%;
  .footerBeian {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1440px;
    height: 3.6rem;
    font-size: 12px;
    background-color: var(--bg_color);
    border-top: 1px solid var(--border_color);
    span, img {
      color: var(--color);
      vertical-align: middle;
    }
  }
}

