body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    color: rgba(255, 255, 255, 0.65);
    #root {
      height: 100%;
      .App {
        height: 100%;
      }
    }
  }
}

pre {
  width: 100%;
  border-radius: 4px;
  /* 进度条全局样式 */
  & {
    display: inline-block;
    overflow:hidden;
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 7px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: .5rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #dcdfe6;
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    background: white;
  }
}

// 全局弹出框样式限制
.previewImgBox-wrapper {
  width: 100%;
  height: 100%;
  .previewImgBox {
    width: auto !important;
    min-width: 40%;
    max-width: 90%;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}



