.Imagebox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px 10px;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  .imagebox-upload {
    width: 100%;
    height: 100%;
    .ant-upload.ant-upload-select-picture-card {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 0;
      background-color: #001529;
      >span {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .imagebox-loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.65);
  }
  .imagebox-shower {
    width: 100%;
    height: 100%;
  }
  .imagebox-icons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2rem;
    .icon-box-icon {
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
  }
}