$headerHight: 3rem;
.Router-Head {
  height: $headerHight;
  background-color: #001529;
}
.Router-View {
  width: 100%;
  height: calc(100% - #{$headerHight});
  font-size: 0;
  background-color: #001529;
}
.route-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.65);
  background-color: #001529;
}