.treecontshow {
  display: inline-block;
  width: calc(80% - 180px);
  margin: 0 auto 2rem;
  font-size: 16px;
  letter-spacing: 1px;
  .treecontTitle {
    margin: 1rem 0;
    font-size: 21px;
    font-weight: bold;
    color: var(--color);
  }
  .contitem {
    margin-bottom: 1rem;
    text-align: left;
    .contitemTitle {
      display: flex;
      justify-content: space-between;
      margin-bottom: .5rem;
      border-bottom: 1px solid var(--color);
      box-sizing: border-box;
      font-weight: bold;
      font-size: 18px;
      a {
        color: var(--color);
        &:global(.active) {
          color: var(--keyword_highlight);
        }
      }
      >span {
        line-height: 1.7rem;
        font-size: .7rem;
        color: var(--small_color);
      }
    }
    .contitemCont {
      word-break: break-all;
    }
    .contitemImg {
      text-align: center;
      img {
        width: 100%;
        max-width: 20rem;
        min-width: 10rem;
        min-height: 10rem;
        cursor: pointer;
      }
      .imgName {
        display: block;
        font-size: 12px;
        color: var(--small_color);
      }
    }
  }
  .mao {
    max-width: 10%;
    position: fixed;
    top: 7rem;
    right: .5rem;
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid var(--border_color);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
    opacity: 0.5;
    &:hover {
      opacity: 0.9;
    }
    >a {
      display: block;
      padding: .2rem .6rem;
      word-break: break-all;
      color: var(--color);
      &:global(.active) {
        color: var(--color);
        background-color: var(--bg_color_mask);
      }
      &:hover {
        background-color: var(--bg_color_mask);
      }
    }
  }
}
