$TreeMenuWidth: 21rem;

.Tree {
  position: relative;
  height: 100%;
  background-color: var(--bgColor);
  .treeLeft {
    display: inline-block;
    height: 100%;
    width: $TreeMenuWidth;
    text-align: left;
    background-color: var(--bgColor);
    border-right: 1px solid var(--borderColor);
    box-sizing: border-box;
    letter-spacing: 1px;
    vertical-align: top;
  }
  .treeRight {
    display: inline-block;
    height: 100%;
    width: calc(100% - #{$TreeMenuWidth});
    vertical-align: top;
    .treeEditSwitch {
      position: absolute;
      top: 1rem;
      right: 2rem;
      z-index: 2;
      border: 1px solid var(--borderColor);
      background-color: var(--bgColor);
      &:global(.ant-switch::after) {
        border: 1px solid var(--borderColor);
      }
      &:global(.ant-switch-checked) {
        background-color: transparent;
      }
      :global(.ant-switch-inner) {
        color: var(--color);
      }
    }
  }
}