.treecontshow {
  font-size: 14px;
  letter-spacing: 1px;
  .treecont-title {
    font-size: 20px;
    font-weight: bold;
  }
  .contitem {
    text-align: left;
    .contitem-title {
      font-weight: bold;
      font-size: 16px;
    }
    .contitem-cont {
      
    }
    .contitem-img {
      text-align: center;
      img {
        width: 100%;
        max-width: 20rem;        
      }
      .img-name {
        display: block;
        font-size: 12px;
        color: #ccc;
      }
    }
  }
}