.treecontedit {
  display: inline-block;
  width: 80%;
  margin: 0 auto 2rem;;
  font-size: 14px;
  letter-spacing: 1px;
  .treecont-title {
    padding-right: 260px;
    margin: 1rem 0;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.65);
  }
  .contitem {
    display: flex;
    margin-bottom: 1rem;
    .contitem-edit {
      flex: 1;
      .contitem-input {
        background: #001529;
        color: rgba(255, 255, 255, 0.65);
      }
      .contitem-textarea {
        margin-top: .5rem;
        resize: none;
        letter-spacing: 1px;
        background: #001529;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .contitem-img {
      width: 260px;
      text-align: left;
      .imgbox {
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 170px;
        height: 170px;
      }
    }
    .contitem-icons {
      display: flex;
      justify-content: space-between;
      .contitem-icons-box {
        font-size: 1rem;
        text-align: left;
        .contnode-icon {
          margin-right: .3rem;
          &:hover {
            color: #1890ff;
            cursor: pointer;
          }
        }
      }
      .contitem-time {
        text-align: right;
        font-size: .7rem;
        color: #ccc;
        >span {
          margin-left: .7rem;
        }
      }
    }
  }
}
.treecont-addbutton-front {
  position: fixed;
  right: 2.5rem;
  top: 7rem;
}
.treecont-addbutton-behind {
  position: fixed;
  right: 2.5rem;
  top: 10rem;
}
.treecont-savebutton {
  position: fixed;
  right: 2.5rem;
  top: 13rem;
}