$TreeMenuWidth: 21rem;

.Tree {
  height: 100%;
  background-color: #001529;
  .tree-left {
    display: inline-block;
    height: 100%;
    width: $TreeMenuWidth;
    text-align: left;
    background: #001529;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    letter-spacing: 1px;
    & {
      display: inline-block;
      overflow:hidden;
      overflow-y: auto;
    }
    &::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: .5rem;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: white;
    }
    &::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: .5rem;
      background: #000c17;
    }
  }
  .tree-right {
    display: inline-block;
    height: 100%;
    width: calc(100% - #{$TreeMenuWidth});
    .tree-edit-switch {
      position: fixed;
      top: 4rem;
      right: 2rem;
      background: rgba(255, 255, 255, 0.65);
      &.ant-switch-checked {
        background-color: #1890ff;
      }
    }
  }
}