.tree-filter {
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  .tree-filter-input {
    width: calc(100% - 1.4rem);
    height: 40px;
    margin: 4px 0.7rem;
    .ant-input {
      letter-spacing: 1px;
      font-size: 15px;
      border: none;
      box-shadow: none;
      background: #001529;
      color: rgba(255, 255, 255, 0.65);
    }
    .ant-input-prefix {
      color: rgba(255, 255, 255, 0.65);
    }
    .ant-input-suffix {
      right: 7px;
      >i {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}

.tree-menu {
  height: 100%;
  .add-root-treenode {
    &:hover {
      color: #1890ff;
    }
  }
  .ant-menu-submenu-title {
    overflow: unset;
  }
  .menu-title {
    display: flex;
    width: 100%;
    height: 100%;

    .title-name {
      flex: 1;
      .active-keyword {
        color: black;
        background: yellow;
      }
    }
    .allIcon-box {
      position: relative;
      .more-operate-icon {
        position: relative;
        line-height: 44px;
        margin-left: 10px;
        &.editting {
          color: #1890ff;
        }
      }
      .icons-box {
        position: absolute;
        right: 30px;
        top: 1px;
        height: 38px;
        padding-left: 10px;
        background-color: rgb(51, 61, 69);
        border-radius: 4px;
        .treenode-icon {
          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
}
