@import '../../assets/scss/Theme.module.scss';

$TreeMenuWidth: 21rem;

.Tree {
  height: 100%;
  background-color: $dark_bgColor;
  .treeLeft {
    display: inline-block;
    height: 100%;
    width: $TreeMenuWidth;
    text-align: left;
    background-color: $dark_bgColor;
    border-right: 1px solid $dark_borderColor;
    box-sizing: border-box;
    letter-spacing: 1px;
    vertical-align: top;
  }
  .treeRight {
    display: inline-block;
    height: 100%;
    width: calc(100% - #{$TreeMenuWidth});
    vertical-align: top;
    .treeEditSwitch {
      position: fixed;
      top: 4rem;
      right: 2rem;
      background-color: $dark_bgColor;
      &:global(.ant-switch-checked) {
        background-color: $dark_color_active;
      }
    }
  }
}

.lightTree {
  background-color: $light_bgColor;
  .treeLeft {
    background-color: $light_bgColor;
    border-right-color: $light_borderColor;
  }
  .treeRight {
    .treeEditSwitch {
      background-color: $light_bgColor;
      &:global(.ant-switch-checked) {
        background-color: $light_color_active;
      }
    }
  }
}