.blogcontShow {
  height: 100%;
  padding: 1rem calc(15% + 8px) 2rem;
  word-break: break-all;
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--color);
  .title {
    color: var(--color);
    font-weight: bold;
    font-size: 1.4rem;
  }
  .author {
    color: var(--color);
    margin: 10px 0;
    font-size: 13px;
  }
  .time {
    margin-bottom: 10px;
    color: #ccc;
    font-size: 12px;
    >span {
      margin: 0 3px;
    }
  }
  
  .fileList {
    margin-top: 30px;
    text-align: left;
    h4 {
      font-size: 20px;
      font-weight: bold;
      margin-left: 12px;
      margin-bottom: 10px;
      color: var(--color);
    }
  }

  // 导出 pdf
  .exportPdf {
    position: fixed;
    left: 2rem;
    top: 6.5rem;
  }

  .openVisitor {
    position: fixed;
    left: 2rem;
    top: 9rem;
  }

  .copyVisitor {
    position: fixed;
    left: 2rem;
    top: 11.5rem;
  }
  
  // 滚动到顶部 or 底部
  .scrollToTop {
    position: fixed;
    left: 2.5rem;
    top: calc(50% - 1.5rem);
    opacity: 0.6;
  }
  .scrollToBottom {
    position: fixed;
    left: 2.5rem;
    top: calc(50% + 1.5rem);
    opacity: 0.6;
  }
}

@media (max-width: 720px) {
  .blogcontShow {
    padding: 10px 0 0;
    .author, .time {
      display: none;
    }
    .exportPdf {
      display: none;
    }
    .scrollToTop {
      right: 110px;
      top: unset;
      left: unset;
      bottom: 6px;
    }
    .scrollToBottom {
      position: fixed;
      right: 60px;
      top: unset;
      left: unset;
      bottom: 6px;
    }
  }
  
  .openMao {
    position: fixed;
    bottom: 6px;
    right: 10px;
    opacity: 0.6;
  }
}
