@import '../../../assets/scss/Theme.module.scss';

.treeFilter {
  background: $dark_bgColor;
  box-sizing: border-box;
  border-bottom: 1px solid $dark_borderColor;
  .treeFilterInput {
    width: calc(100% - 1.4rem);
    height: 40px;
    margin: 4px 0.7rem;
  }
  :global(.ant-input) {
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    box-shadow: none;
    background: $dark_bgColor;
    color: $dark_color;
  }

  :global(.ant-input-prefix) {
    color: $dark_color;
  }
  
  :global(.ant-input-suffix) {
    right: 6px;
    >i {
      color: $dark_color;
    }
  }
}

.lightTreeFilter {
  background: $light_bgColor;
  border-bottom: 1px solid $light_borderColor;
  :global(.ant-input) {
    background-color: $light_bgColor;
    color: $light_color;
  }

  :global(.ant-input-prefix) {
    color: $light_color;
  }
  
  :global(.ant-input-suffix) {
    >i {
      color: $light_color;
    }
  }
}

.treeMenu {
  height: calc(100% - 49px);
  & {
    display: inline-block;
    overflow:hidden;
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: .5rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: white;
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    background: #000c17;
  }

  .hiddenFirstLevel {
    >:global(.ant-menu-submenu-title) {
      display: none;
    }
  }

  .addRootTreenode {
    &:hover {
      color: $dark_color_active;
    }
  }

  :global(li) {
    color: $dark_color;
  }
}

.lightTreeMenu {
  .addRootTreenode {
    &:hover {
      color: $light_color_active;
    }
  }
  :global(li) {
    color: $light_color;
  }
}
