.ant-input {
  letter-spacing: 1px;
  font-size: 15px;
  box-shadow: none;
  background: #001529;
  color: rgba(255, 255, 255, 0.65);
}

.ant-input-prefix {
  color: rgba(255, 255, 255, 0.65);
}

.ant-input-suffix {
  right: 6px;
  >i {
    color: rgba(255, 255, 255, 0.65);
  }
}

.ant-menu-submenu-title {
  overflow: unset;
}